div.sheetHandler ul.allDetHeader i.fa-angle-double-left{
	font-size: 1.5em;
    padding-top: 0.25em;
    margin-right: 0.5em;
	display: none;
}

div.sheetHandler ul.allDetHeader i.fa-angle-double-right{
	font-size: 1.5em;
    padding-top: 0.25em;
    margin-left: 0.5em; 
	display: none;
}

div.sheetHandler div.row div.blocker {
	display: none;
	background-color: lightgrey;

}

div.sheetHandler div.row div.blocker i.fa-exclamation-triangle{
    position:relative;
    padding-top:50%; /* center the top of child elements vetically */
    padding-bottom:50%;
    /*text-align: center;*/

}
div.viewer {
    display: block;
    text-align: center;
}

div.viewer div.blocker i.fa-exclamation-triangle{
    display: inline;
    top: 50%;
}

div.sheetHandler div.nglView div.downloadPdb{
	background-color: pink;
}