table.infos td {
    border: 1px solid black; 
}
table{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

div.sheet-content table.infos tr td{
	word-wrap: break-word;
}



/*
div.row{
	display: contents;
}
*/